<!DOCTYPE html>
<html lang="en">
<head>

    <!-- static head -->
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/gallery.css">

</head>
<body>

  <!-- navbar -->
  <%- include('./../components/navbar') %>

    <!-- Intro -->
  <section class="Intro">
    <div class="Intro" >
      <div class="Intro-text">
        <h1>Charm Restaurant</h1>
      </div>
    </div>
  </section>
  
  <!-- Gallery -->
  <section class="gallery">
    <div class="gallery-title">
      <h1>Welcome to Thailand</h1>
      <p>Amazing Foods & Culture </p>
    </div>
    <div class="gal-container"></div>
      <div class="gal-1">
        <!-- gallery 1-6 -->
        <% galleryImgs_1.forEach(gallery => { %>
          <figure class="<%= gallery.name %>">
            <img src="/assets/<%= gallery.img %>" class="gal-img" alt="Image 1"> 
          </figure>
        <% }) %>
      </div>

      <div class="gal-2">
        <!-- gallery 7-12 -->
        <% galleryImgs_2.forEach(gallery => { %>
          <figure class="<%= gallery.name %>">
            <img src="/assets/<%= gallery.img %>" class="gal-img" alt="Image 1">
          </figure>
        <% }) %>
      </div>
    </div>
  </section>

  <!-- cta -->
  <section class="cta">
    <div class="cta-content">
      <h2>Enjoy The Delicious Tatse</h2>
      <p>when you're got health,you got everthing.</p>
      <a href="/booking" class="cta-btn">BOOK NOW</a>
    </div>
  </section>

  <!-- footer -->
  <%- include('./../components/footer') %>

</body>
</html>