<!DOCTYPE html>
<html lang="en">
<head>

    <!-- static head -->
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/menu.css">

</head>
<body>

    <!-- navbar -->
    <%- include('./../components/navbar') %>

    <article>
        <div class="hotdeal-container">

            <div class="hotdeal-slide">
    
                <% hotdealImgs.forEach(hotdeal => { %>
                    <div class="hotdeal-item" style="background-image: url('/assets/<%= hotdeal.img %>');">
                        <div class="hotdeal-content">
                            <div class="hotdeal-name"><%= hotdeal.name %></div>
                            <div class="hotdeal-des"><%= hotdeal.detail %></div>
                            <button>See More</button>
                        </div>
                    </div>
                <% }) %>
    
            </div>  
    
            <div class="hotdeal-button">
                <button class="hotdeal-prev"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="hotdeal-next"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
    
        </div>
    
        <!-- category -->
        <!-- <section class="category-container">
            <ul>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
            </ul>
        </section> -->

        <!-- menu -->
        <!-- <section class="menu">
        <% menuImgs.forEach(menu => { %>
            <div class="menu-container">
                <img src="/assets/<%= menu.img %>" alt="Food">
                <div class="menu-content">
                    <p><%= menu.name %></p>
                    <p>$<%= menu.price %></p>
                    <button>Add</button>
                </div>
            </div>
        <% }) %>
        </section> -->

        <section class="menu">
            <div class="menu-container">
                <h1>Northern</h1>
                <div class="food-container">
                    <% menuImgs.forEach(menu => { %>
                        <div class="food">
                            <img src="/assets/<%= menu.img %>" alt="Food">
                            <div class="food-content">
                                <p><%= menu.name %></p>
                                <p>$<%= menu.price %></p>
                                <!-- <button>Add</button> -->
                            </div>
                        </div>
                    <% }) %>
                </div>
                <h1>Central</h1>
                <div class="food-container">
                    <% menuImgs.forEach(menu => { %>
                        <div class="food">
                            <img src="/assets/<%= menu.img %>" alt="Food">
                            <div class="food-content">
                                <p><%= menu.name %></p>
                                <p>$<%= menu.price %></p>
                                <!-- <button>Add</button> -->
                            </div>
                        </div>
                    <% }) %>
                </div>
                <h1>Northeast</h1>
                <div class="food-container">
                    <% menuImgs.forEach(menu => { %>
                        <div class="food">
                            <img src="/assets/<%= menu.img %>" alt="Food">
                            <div class="food-content">
                                <p><%= menu.name %></p>
                                <p>$<%= menu.price %></p>
                                <!-- <button>Add</button> -->
                            </div>
                        </div>
                    <% }) %>
                </div>
                <h1>South</h1>
                <div class="food-container">
                    <% menuImgs.forEach(menu => { %>
                        <div class="food">
                            <img src="/assets/<%= menu.img %>" alt="Food">
                            <div class="food-content">
                                <p><%= menu.name %></p>
                                <p>$<%= menu.price %></p>
                                <!-- <button>Add</button> -->
                            </div>
                        </div>
                    <% }) %>
                </div>        
                <h1>Austria</h1>
                <div class="food-container">
                    <% menuImgs.forEach(menu => { %>
                        <div class="food">
                            <img src="/assets/<%= menu.img %>" alt="Food">
                            <div class="food-content">
                                <p><%= menu.name %></p>
                                <p>$<%= menu.price %></p>
                                <!-- <button>Add</button> -->
                            </div>
                        </div>
                    <% }) %>
                </div>        
            </div>
        </section>

        <section class="menu-paper">
            <img src="/assets/menu_paper.jpeg" alt="">
        </section>

    </article>

    <!-- footer -->
    <%- include('./../components/footer') %>
    <script src="/js/menu-script.js"></script>

</body>
</html>