<!DOCTYPE html>
<html lang="en">
<head>

    <!-- static head -->
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/menu.css">

</head>
<body>

    <!-- navbar -->
    <%- include('./../components/navbar') %>

    <!-- content -->
    <div class="into">
        <h1>Menu</h1>
    </div>

    <article>
        <!-- category -->
        <!-- <section class="category-container">
            <ul>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
            </ul>
        </section> -->

        <!-- menu -->
         <section class="menu">
            <% menuImgs.forEach(menu => { %>
                <div class="menu-container">
                    <img src="/assets/<%= menu.img %>" alt="Food">
                    <div class="menu-content">
                        <p><%= menu.name %></p>
                        <p>$<%= menu.price %></p>
                        <button>Add</button>
                    </div>
                </div>
            <% }) %>
         </section>
    </article>

    <!-- footer -->
    <%- include('./../components/footer') %>

</body>
</html>