<!DOCTYPE html>
<html lang="en">
<head>

    <!-- static head -->
    <%- include('./../components/head') %>
    <link rel="stylesheet" href="/css/menu.css">

</head>
<body>

    <!-- navbar -->
    <%- include('./../components/navbar') %>
    
    <article>
        <div class="hotdeal-container">

            <div class="hotdeal-slide">
    
                
                <div class="hotdeal-item" style="background-image: url('/assets/gallery/Thai-1.jpg');">
                    <div class="hotdeal-content">
                        <div class="hotdeal-name">Menu1</div>
                        <div class="hotdeal-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="hotdeal-item" style="background-image: url(/assets/gallery/Thai-2.jpg);">
                    <div class="hotdeal-content">
                        <div class="hotdeal-name">Menu2</div>
                        <div class="hotdeal-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="hotdeal-item" style="background-image: url(/assets/gallery/Thai-3.jpg);">
                    <div class="hotdeal-content">
                        <div class="hotdeal-name">Menu3</div>
                        <div class="hotdeal-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="hotdeal-item" style="background-image: url(/assets/gallery/Thai-4.jpg);">
                    <div class="hotdeal-content">
                        <div class="hotdeal-name">Menu4</div>
                        <div class="hotdeal-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="hotdeal-item" style="background-image: url(/assets/gallery/Thai-5.jpg);">
                    <div class="hotdeal-content">
                        <div class="hotdeal-name">Menu5</div>
                        <div class="hotdeal-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="hotdeal-item" style="background-image: url(/assets/gallery/Thai-6.jpg);">
                    <div class="hotdeal-content">
                        <div class="hotdeal-name">Ireland</div>
                        <div class="hotdeal-des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
    
            </div>  
    
            <div class="hotdeal-button">
                <button class="hotdeal-prev"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="hotdeal-next"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
    
        </div>
    
        <!-- category -->
        <!-- <section class="category-container">
            <ul>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
                <li><button>Soup</button></li>
            </ul>
        </section> -->

        <!-- menu -->
         <section class="menu">
            <% menuImgs.forEach(menu => { %>
                <div class="menu-container">
                    <img src="/assets/<%= menu.img %>" alt="Food">
                    <div class="menu-content">
                        <p><%= menu.name %></p>
                        <p>$<%= menu.price %></p>
                        <button>Add</button>
                    </div>
                </div>
            <% }) %>
         </section>
    </article>

    <!-- footer -->
    <%- include('./../components/footer') %>
    <script src="/js/menu-script.js"></script>

</body>
</html>